.tag {
  padding: 0px calc(0.666667rem);
  text-transform: uppercase;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.015625rem;
  text-overflow: ellipsis;
  overflow: hidden;
  background: transparent;
}

.tag[data-id$='ADB5BD'] {
  color: #adb5bd;
  border: 0.0625rem solid #adb5bd;
}
.tag[data-id$='FF6B6B'] {
  color: #ff6b6b;
  border: 0.0625rem solid #ff6b6b;
}
.tag[data-id$='C92A2A'] {
  color: #c92a2a;
  border: 0.0625rem solid #c92a2a;
}
.tag[data-id$='F06595'] {
  color: #f06595;
  border: 0.0625rem solid #f06595;
}
.tag[data-id$='A61E4D'] {
  color: #a61e4d;
  border: 0.0625rem solid #a61e4d;
}
.tag[data-id$='CC5DE8'] {
  color: #cc5de8;
  border: 0.0625rem solid #cc5de8;
}
.tag[data-id$='862E9C'] {
  color: #862e9c;
  border: 0.0625rem solid #862e9c;
}
.tag[data-id$='845EF7'] {
  color: #845ef7;
  border: 0.0625rem solid #845ef7;
}
.tag[data-id$='862E9C'] {
  color: #862e9c;
  border: 0.0625rem solid #862e9c;
}
.tag[data-id$='5F3DC4'] {
  color: #5f3dc4;
  border: 0.0625rem solid #5f3dc4;
}
.tag[data-id$='5C7CFA'] {
  color: #5c7cfa;
  border: 0.0625rem solid #5c7cfa;
}
.tag[data-id$='364FC7'] {
  color: #364fc7;
  border: 0.0625rem solid #364fc7;
}
.tag[data-id$='339AF0'] {
  color: #339af0;
  border: 0.0625rem solid #339af0;
}
.tag[data-id$='1864AB'] {
  color: #1864ab;
  border: 0.0625rem solid #1864ab;
}
.tag[data-id$='22B8CF'] {
  color: #22b8cf;
  border: 0.0625rem solid #22b8cf;
}
.tag[data-id$='0B7285'] {
  color: #0b7285;
  border: 0.0625rem solid #0b7285;
}
.tag[data-id$='20C997'] {
  color: #20c997;
  border: 0.0625rem solid #20c997;
}
.tag[data-id$='087F5B'] {
  color: #087f5b;
  border: 0.0625rem solid #087f5b;
}
.tag[data-id$='51CF66'] {
  color: #51cf66;
  border: 0.0625rem solid #51cf66;
}
.tag[data-id$='2B8A3E'] {
  color: #2b8a3e;
  border: 0.0625rem solid #2b8a3e;
}
.tag[data-id$='94D82D'] {
  color: #94d82d;
  border: 0.0625rem solid #94d82d;
}
.tag[data-id$='5C940D'] {
  color: #5c940d;
  border: 0.0625rem solid #5c940d;
}
.tag[data-id$='FCC419'] {
  color: #fcc419;
  border: 0.0625rem solid #fcc419;
}
.tag[data-id$='E67700'] {
  color: #e67700;
  border: 0.0625rem solid #e67700;
}
.tag[data-id$='FF922B'] {
  color: #ff922b;
  border: 0.0625rem solid #ff922b;
}
.tag[data-id$='D9480F'] {
  color: #d9480f;
  border: 0.0625rem solid #d9480f;
}
