

.container {
    position: relative;  
    color: rgb(161, 161, 170);
}

.container:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: rgb(161, 161, 170);
    content: "";
    width: 100%;
    display: block;
  }

.containerMoved { 
    @extend .container;
    &:after{
        background: hsl(var(--scale-color-5));
    }
}

.containerCancelled { 
    @extend .container;
    &:after{
        background: hsl(var(--scale-color-1));
    }
}

.containerCompleted { 
    @extend .container;
    &:after{
        background: hsl(var(--scale-color-10));
    }
}

