.event {
  border: none !important;
  padding: 0;
  cursor: pointer;
  background: transparent;
  font-style: italic;
  padding-left: 4px;
  background: #1a1b1ecc;
  min-height: 100px;

  &:hover {
    border: 1px solid #373A40 !important;
    z-index: 1;
    .actions {
      visibility: visible;
    }
  }
}

.actions {
  display: flex;
  visibility: hidden;
  float: right;
  margin-right: 4px;
  & >*:first-child {
      margin-right: 4px;
  }
}