@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';


.rbc-time-view {
  border: 1px solid hsl(var(--border));
}
  
.rbc-header {
  border: none;
}

.rbc-time-content {
  border: none
}

.rbc-header {
  border: 1px solid hsl(var(--border));
}
.rbc-header + .rbc-header {
  border-left: 1px solid hsl(var(--border));
}

.rbc-day-bg + .rbc-day-bg {
  border: 1px solid hsl(var(--border));
}

.rbc-time-header-content {
  border-left: 1px solid hsl(var(--border));
}

.rbc-button-link {
  font-weight: normal;
}

.rbc-label {
  font-size: 14px;
}

.rbc-month-view {
  min-height: 60vh;
  border: 1px solid hsl(var(--border));
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid hsl(var(--border));
}

.rbc-show-more {
  color: hsl(var(--primary));
  background: transparent;
  &:focus {
    color: hsl(var(--primary));
    background: transparent;
  }
  &:hover {
    color: hsl(var(--primary));
    background: transparent;
  }
}

.rbc-overlay {
  font-style: italic;
  background: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  border-radius: 5px;
}

.rbc-overlay-header {
  border-bottom: 1px solid hsl(var(--border));
}

.rbc-event-content {
  border: none;
  background: transparent;
}

.rbc-event {
  border: none !important;
  padding: 0;
  background: transparent;
  cursor: default;
  transition: height 0.3s;

  &:focus {
    outline: none;
  }
  &:hover {
    height: unset !important;
    z-index: 2;
  }
}

.rbc-addons-dnd-resizable {
  margin-top: 1px
}

.rbc-background-event {
  z-index: 1;
  right: 0% !important;
  left: unset !important;
  width: 50px !important;

  &:focus {
    border: none;
    outline: none !important;
  }
  &:focus-visible {
    border: none;
  }
}