name: Tests
on: push
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Upgrade Yarn
        run: yarn upgrade
      - name: Install modules
        run: yarn
      - name: Run tests
        run: yarn test
  run-e2es:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: log
        run: echo running on branch ${GITHUB_REF##*/}
      - name: Print inputs
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github.event) }}
      - name: Print url
        run: echo $BASE_URL
        env:
          BASE_URL: ${GITHUB_REF##*/}
      - name: Upgrade Yarn
        run: yarn upgrade
      - name: Install modules
        run: yarn
      - name: Install playwright
        run: npx playwright install
      - name: Run tests
        run: npx playwright test
        env:
          BASE_URL: aaa
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: sleep 30
      - name: vercel-preview-url
        uses: zentered/vercel-preview-url@v1.1.9
        id: vercel_preview_url
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          vercel_project_id: "prj_D9UUsAV40srtIBckUgkhdFE7Ty6T"
      - name: Get URL
        run: echo "https://${{ steps.vercel_preview_url.outputs.preview_url }}"
      - name: Upgrade Yarn
        run: yarn upgrade
      - name: Install modules
        run: yarn
      - name: Install playwright
        run: npx playwright install
      - name: Run tests
        run: npx playwright test show-report
        env:
          BASE_URL: "https://${{ steps.vercel_preview_url.outputs.preview_url }}"
